/* BOTÃO SLIDER */

.switch {
    margin: 10px 10px 0 16px;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;	
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, rgb(245, 183, 121) 0%, rgb(153, 61, 139) 100%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

input:focus + .slider {
    background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 100%;
}

.dark{
    background-color: #121212;
}

.logo-light{
    filter: invert();
}

.body-dark {
    background-color: #000; 
    color: white;
}

.stories-dark{
    background-color: #000;
}

.font-light{
    color: white;
}

.font-light a {
    color: white; 
}

.icon-light{
    color: #fff;
}

.teste span{
	border: 2px solid black;
}

.search-light {
    border: 1px solid rgba(88, 85, 85, 0.692);
}

.post-light {
    border: 1px solid rgba(88, 85, 85, 0.692);
}